@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Yeseva+One&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


button {
  padding: 15px 60px;
  color: #FFFFFF;
  font-weight: 500;
  font-family: Roboto;
  background-color: #3A499C;
  cursor: pointer;
}



*{
  scroll-behavior: smooth;
}
