@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Yeseva+One&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


button {
  padding: 15px 60px;
  color: #FFFFFF;
  font-weight: 500;
  font-family: Roboto;
  background-color: #3A499C;
  cursor: pointer;
}

button.btn{
  padding: 0 20px;
  height: 49.3px;


}



.slide-left {
	-webkit-animation: slide-left 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-left 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.back-img{
  background-image: url(./assets/Hero.png);
  object-fit: contain;
  height: 100vh;
  display: flex;
  
}

@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
}
@keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
}


*{
  scroll-behavior: smooth;
}
